<form action="/clients" method="POST">
    <div class="mb-3">
      <label for="inputFirstName" class="form-label">Escriba su nombre completo</label>
      <input type="text" class="form-control" id="inputFirstName" name="first_name">
    </div>
    <div class="mb-3">
        <label for="inputLastName" class="form-label">Escriba sus apellidos</label>
        <input type="text" class="form-control" id="inputLastName" name="last_name">
    </div>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Su correo electronico</label>
        <input type="email" class="form-control" id="inputEmail" name="email">
    </div>
    <div class="mb-3">
      <label for="inpuTelephone" class="form-label">Su numero teléfonico</label>
      <input type="number" class="form-control" id="inpuTelephone" name="telephone">
    </div>
    <button type="submit" class="btn btn-primary">Crear nuevo cliente</button>
  </form>